* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Tag Selectors */

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #727CC3;
}

h3 {
  margin: 0;
}

header {
  display: flex;
  grid-area: header;
  align-items: center;
  color: white;
  background-color: #727CC3;
  padding: 10px;
}

header h2 {
  margin-right: auto;
  font-weight: 300;
  font-size: 20px;
}

header p {
  font-size: .75em;
  font-weight: 300;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

section > h3 {
  margin: 5px 5px;
  font-weight: 400;
}

strong {
  font-weight: 500;
}

/* ID Selectors */

#bell {
  width: 25px;
  height: 25px;
  fill: white;
}

.header-bar::before {
  content: "";
  position: relative;
  bottom: -5px;
  left: -15px;
  border: 2px solid lime;
  background-color: lime;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

#bell:hover {
  fill: black;
  transition: fill .2s ease-in-out;
}

#alert {
  border-top: solid 2px lightgrey;
}

#alert p {
  margin: 0;
}

#mobile-graph {
  padding: 20px;
}

#social-stats {
  display: flex;
  flex-direction: column;
}

#user-search {
  width: 100%;
  height: 50px;
  border: solid 1.5px lightgrey;
  border-radius: 5px;
  background: rgba(163, 163, 163, 0.1);
  padding: 5px;
  margin: 5px;
}

/* Class Selectors */

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 60px 50px auto;
  grid-template-areas:
  "header header"
  "nav nav"
  "main main"
}

.header-bar {
  width: 1px;
  height: 45px;
  border: solid 1px lightgrey;
  margin: 5px;
  background: lightgrey;
}

.profile-pic {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin: 5px
}

.nav-bar {
  background: #494F7B;
  grid-area: nav;
}

.nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  margin: 0;
}

.nav-item {
  fill: white;
  width: 35px;
  height: 35px;
}

.tab {
  margin-right: auto;
  padding: 15px;
  background: white;
  font-weight: 400;
  border-right: solid 2px lightgrey;
}

.alert {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: .8em;
  text-align: center;
  color: white;
  width: 95%;
  padding: 10px 10px;
  margin: 15px auto;
  background: #727CC3;
  border-radius: 5px;
}

.alert-close {
  margin-left: auto;
  font-weight: 400;
  color: white;
}

.dash-item {
  padding: 10px;
  border-bottom: solid 2px lightgrey;
}

.dash-item:last-of-type {
  border-bottom: none;
}

.selected {
  background: #6CC984;
  border-radius: 15px;
  color: white;
}

.traffic-select {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 5px;
  list-style: none;
}

.traffic-select li {
  padding: 5px 10px;
}

.social-svg {
  background: #727CC3;
  border-radius: 50%;
  fill: white;
  padding: 20px;
  margin: 10px;
  height: 80px;
  width: 80px;
  grid-area: svg;
}

.stats-div {
  border: 2px solid lightgrey;
  border-radius: 5px;
  background: rgba(163, 163, 163, 0.1);
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 30px 1fr;
  grid-template-areas:
  "svg h3"
  "svg p"
}

.stats-div h3 {
  grid-area: h3;
  color: #727CC3;
  padding-top: 15px;
}

.stats-div p {
  grid-area: p;
  color: grey;
  margin: 0;
  padding-top: 5px;
  font-size: 2.5em;
  font-weight: 300;
}

.new-member,
.active-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-weight: 300;
  border-bottom: solid 2px lightgrey;
}

.new-member:last-of-type,
.active-member:last-of-type {
  border-bottom: none;
}

.new-member img,
.active-member img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.new-member p,
.active-member p {
  margin-block-start: 0;
  margin-block-end: 0;
  text-align: center;
}

.active-member > p {
  display: none;
}

.messenger,
.timezone-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.messenger textarea {
  height: 120px;
  width: 100%;
  border: solid 1.5px lightgrey;
  border-radius: 5px;
  background: rgba(163, 163, 163, 0.1);
  padding: 5px;
  margin: 5px;
}

.btn {
  height: 50px;
  text-align: center;
  border: solid 1.5px lightgrey;
  border-radius: 5px;
  color: white;
  margin: 5px;
}

.btn-send {
  width: 100%;
  background: #727CC3;
}

.btn-send:hover,
.btn-save:hover {
  background: #727DDD;
  transition: background .25s ease-out;
}

.btn-cancel {
  width: 45%;
  background: grey;
  margin-right: 0;
}

.btn-cancel:hover {
  background: rgb(100, 100, 100);
  transition: background .25s ease-out;
}

.btn-save {
  width: 45%;
  background: #727CC3;
  margin-left: 0;
  margin-right: 20px;
}

.switch-panel {
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 35px;
  margin-left: auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(163, 163, 163, 0.3);
  -webkit-transition: .4s;
  transition: .4s;
  border: solid 2px lightgrey;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  top: 3px;
  border: solid 2px lightgrey;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #727CC3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #727CC3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(42px);
  -ms-transform: translateX(42px);
  transform: translateX(42px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.timezone {
  width: 100%;
  height: 50px;
  color: grey;
  border: solid 1.5px lightgrey;
  border-radius: 5px;
  background: rgba(163, 163, 163, 0.1);
  padding: 5px;
  margin: 5px;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-areas:
    "header header"
    "nav main"
    "nav main"
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin: 10px auto;
  }

  #traffic {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  #daily-traffic,
  #mobile-users {
    width: 50%;
    /* height: 350px; */
    border-bottom: 2px solid lightgrey;
  }

  #daily-traffic {
    display: flex;
    flex-direction: column;
  }

  #mobile-users {
    border-left: 2px solid lightgrey;
  }

  .traffic-select {
    margin-left: auto;
  }

  .graphs {
    display: flex;
    flex-wrap: wrap;
  }

  #daily-trafgraph {
    margin: auto 0;
  }

  #mobile-graph {
    padding: 0;
    margin: 0 auto 20px;
  }

  #social-stats {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #social-stats h3 {
    width: 100%;
  }

  .social-svg {
    height: 70px;
    width: 70px;
  }

  .stats-div {
    width: 30%;
    font-size: .8em;
    padding: 5px;
  }

  .new-member img,
  .active-member img {
    margin: 0 5px;
  }

  .new-member,
  .active-member {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .member-info,
  .activity {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .member-info p,
  .activity p {
    margin: 0 auto 0 5px;
  }

  .join-date {
    margin-left: auto;
  }

  .active-member > p {
    font-size: 200%;
    font-weight: lighter;
    margin-left: auto;
  }

  .switch {
    margin: 0;
  }

  .switch-panel p {
    width: 45%;
  }

  .btn-save,
  .btn-cancel {
    width: 47%;
  }

  .btn-save {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 70px 3fr 180px 450px 1fr;
    grid-template-areas:
    "dash dash"
    "alert alert"
    "graphs graphs"
    "stats stats"
    "memLists memActiv"
    "messenger settings"
  }

  main h3 {
    grid-area: dash;
  }

  #alert {
    grid-area: alert;
  }

  .graphs {
    grid-area: graphs;
  }

  #social-stats {
    grid-area: stats;
  }

  #member-list {
    grid-area: memLists;
  }

  #member-activity {
    grid-area: memActiv;
    border-left: 2px solid lightgrey;
  }

  #member-list img,
  #member-activity img {
    width: 55px;
    height: 55px;
  }

  #member-list p,
  #member-activity p {
    font-size: .8em;
  }

  #message-unit {
    grid-area: messenger;
    border-bottom: none;
  }

  #settings {
    grid-area: settings;
    border-left: 2px solid lightgrey;
  }

  .activity p {
    max-width: 300px;
    margin-right: auto;
    text-align: left;
  }

  .btn-save,
  .btn-cancel {
    width: 45%;
  }
}
