* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Tag Selectors */

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #727CC3;
}

h3 {
  margin: 0;
}

header {
  display: flex;
  grid-area: header;
  align-items: center;
  color: white;
  background-color: #727CC3;
  padding: 10px;
}

header h2 {
  margin-right: auto;
  font-weight: 300;
  font-size: 20px;
}

header p {
  font-size: .75em;
  font-weight: 300;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

section > h3 {
  margin: 5px 5px;
  font-weight: 400;
}

strong {
  font-weight: 500;
}

/* ID Selectors */

#bell {
  width: 25px;
  height: 25px;
  fill: white;
}

#alert {
  border-top: solid 2px lightgrey;
}

#alert p {
  margin: 0;
}

#mobile-graph {
  padding: 20px;
}

#social-stats {
  display: flex;
  flex-direction: column;
}

#user-search {
  width: 100%;
  height: 50px;
  border: solid 1.5px lightgrey;
  border-radius: 5px;
  background: rgba(163, 163, 163, 0.1);
  padding: 5px;
  margin: 5px;
}

#send-button {
  width: 100%;
  height: 50px;
  text-align: center;
  border: solid 1.5px lightgrey;
  border-radius: 5px;
  background: #727CC3;
  color: white;
  margin: 5px;
}

/* Class Selectors */

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 60px 50px 1fr;
  grid-template-areas:
  "header header"
  "nav nav"
  "main main"
}

.header-bar {
  width: 1px;
  height: 45px;
  border: solid 1px lightgrey;
  margin: 5px;
  background: lightgrey;
}

.profile-pic {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin: 5px
}

.nav-bar {
  background: #494F7B;
  grid-area: nav;
}

.nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
  margin: 0;
}

.nav-item {
  fill: white;
  width: 35px;
  height: 35px;
}

.tab {
  margin-right: auto;
  padding: 15px;
  background: white;
  border-right: solid 2px lightgrey;
}

.alert {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: .8em;
  text-align: center;
  color: white;
  width: 90%;
  padding: 10px 10px;
  margin: 15px auto;
  background: #727CC3;
  border-radius: 5px;
}

.alert-close {
  margin-left: auto;
  font-weight: 400;
  color: white;
}

.dash-item {
  padding: 10px;
  border-bottom: solid 2px lightgrey;
}

.selected {
  background: #6CC984;
  border-radius: 15px;
  color: white;
}

.traffic-select {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 5px;
  list-style: none;
}

.traffic-select li {
  padding: 5px 10px;
}

.social-svg {
  background: #727CC3;
  border-radius: 50%;
  fill: white;
  padding: 20px;
  margin: 10px;
  height: 80px;
  width: 80px;
  grid-area: svg;
}

.stats-div {
  border: 2px solid lightgrey;
  border-radius: 5px;
  background: rgba(163, 163, 163, 0.1);
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 30px 1fr;
  grid-template-areas:
  "svg h3"
  "svg p"
}

.stats-div h3 {
  grid-area: h3;
  color: #727CC3;
  padding-top: 15px;
}

.stats-div p {
  grid-area: p;
  color: grey;
  margin: 0;
  padding-top: 5px;
  font-size: 2.5em;
  font-weight: 300;
}

.new-member,
.active-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-weight: 300;
  border-bottom: solid 2px lightgrey;
}

.new-member:last-of-type,
.active-member:last-of-type {
  border-bottom: none;
}

.new-member img,
.active-member img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.new-member p,
.active-member p {
  margin: 0;
  text-align: center;
}

.messenger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.messenger textarea {
  height: 120px;
  width: 100%;
  border: solid 1.5px lightgrey;
  border-radius: 5px;
  background: rgba(163, 163, 163, 0.1);
  padding: 5px;
  margin: 5px;
}
